/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* body bg, centering */
  body {
    background-color: #FCF7F8; /* background outside the rect */
    display: flex;
    justify-content: center; /* center the rectangle horizontally */
    min-height: 100vh; /* full viewport height */
    font-family: Arial, sans-serif;
  }
  
  /* Lines Container */
  .lines-container {
    position: relative;
    width: calc(100% - 1cm); /* full width of  page */
    max-width:16cm;
    height: 100vh; /* full height of viewport */
    padding: 0.5cm;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* align content at the top */
  }

  header {
    display: flex;
    align-items: center; 
    gap: 1cm; 
    width:100%;
    position:relative;
  }
  .circle-icon img {
    display: block;
    width: 45px;
    height: 45px;
  }

  .dev-arrows img {
    width: 40px;
    height: 40px;
    margin-left: 2.2cm;
    display:block;
  }   

  .search-bar-theme {
    position: absolute;
    left: 141px; 
    top: 50%; 
    transform: translateY(-50%);
  }
  .search-bar-theme img {
    width: 350px;
    height: auto;
    display:block;
  }   


  /* Vertical Lines */
  .lines-container::before,
  .lines-container::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px; /* line thickness */
    background-color: #272323; /* line color */
  }
  
  .lines-container::before {
    left: calc(50% - 8cm); /* pos left line 15 cm apart */
  }
  
  .lines-container::after {
    right: calc(50% - 8cm); /* pos right line 15 cm apart */
  }
  
  /* content inside the rect */
  .content {
    position: relative;
    max-width: 16cm; /* matches the space between the lines */
    padding: 20px;
    margin-top: 0.05cm;
  }
  
  /* marquee stylin' */
  .marquee {
    overflow: hidden;
    white-space: nowrap;
    background: #FCF7F8;
    color: #272323;
    padding: 10px;
    border-radius: 5px;
  }
  
  .marquee p {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 8s linear infinite;
  }
  
  @keyframes marquee {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  